@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-----------------------------------------------Colours */

.navbar {
    background-color: #0066ff;
}

.navbar-brand {
    background-color: #0066ff;
}

.nav-link {
    background-color: #0066ff;
}

.navbar-nav {
    background-color: #0066ff;
}

div#navbarNavDropdown.collapse.navbar-collapse {
    background-color: #0066ff;
}

botton.navbar-toggler {
    background-color: #0066ff;
}

span.navbar-toggler-icon {
    background-color: #0066ff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0066ff;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active .nav-link:hover {
    color: #0066ff;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light  .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}



/* ----------------------------colours footer */

.panel-heading {
    background-color: #0066ff;
    color: #fff;
}

.panel-body {
    background-color: #0066ff;
    color: #fff;
}

a {
    color: #fff;
}

/* ---------------------------------Special paddings/margin/text */

body {
    font-family: "Roboto", Sans-serif;
    color: #262626;
    overflow-x: hidden;
    
}


.uppercase {
    text-transform: uppercase;
}

h1 h2 h3 h4 h5 h6 p {
    color: #262626;
}

h4 {
    text-align: center;
    margin-top: 15px;
}

.borderline-top {
    border-top: 1px solid #262626;
}



/* ---------------------------------Heading */



/* ---------------------Navbar */

.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0;
}

i.fa.fa-home {
    display: block;
    margin: 0 33%;
}

i.fa.fa-at {
    display: block;
    margin: 0 33%;
}

i.fa.fa-sign-in-alt {
    display: block;
}

i.fa.fa-film {
    display: block;   
    margin: 0% 33%;
}

i.fa.fa-registered {
    display: block;   
    margin: 0% 33%; 
}

i.fa.fa-id-badge {
    display: block;
    margin: 0 33%;
}

i.fa.fa-arrow-down {
    display: block;
    margin: 0 33%;
}

i.fa.fa-arrow-alt-circle-down {
    display: block;
    margin: 0 33%;
}


a.nav-link.uppercase {
    text-align: center;
}

a.nav-link {
    text-align: center;
}

a.nav-link:hover {
    background-color: #fff;
    border-radius: 6px;
}


.active {
  background-color: #fff;
  border-radius: 6px;
}



/* ----------------------------Section */

.background-img { 
  background: url("https://i.imgur.com/OZRAo54.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.container {
    padding-left: 0;
    padding-right: 0;
}

div.form-group {
    color: #fff;
}

div {
    display: block;
}



div.inline-block {
    display: inline-block;
    
}

div.col-sm-4 {
    padding-top: 10px;
}

div.col-md-6 {
    padding-top: 15px;
}

div.col-md-6.offset-md-3 {
    padding: 0;
}

div.col-12.col-xs-12.col-md-6 {
    padding-left: 0;
    padding-right: 5px;
}

div.col-12.col-xs-12.col-md-4 {
    padding-bottom: 25px;
    padding-top: 25px;
}

div.row {
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;
}

div.row.borderline-top {
    border-top: 1px solid #262626;
    padding-top: 25px;
}

div.caption {
    text-align: center;
}

h1 {
    padding-left: 10px;
}

h1.text-fix {
    color: #fff;
    padding-top: 50px;
}

h1.dashboard {
    padding-left: 0;
}

h3.text-fix {
    color: #fff;
}



.inline-block {
    display: inline-block;
}

.form-control {
    background-color: #5297FF;
}

.btn {
    background-color: #0066ff;
}

.text-styling {
    font-size: 24px;
    text-align: center;
    padding: 7px;
    color: #fff;
}

.form-horizontal {
    float: right;
    margin-right: 40px;
    margin-left: 40px;
    
}

form.form-horizontal {
    border: solid 1px #fff;
    max-width: 350px;
    border-radius: 15px;
    background-color: #5297FF;
    margin-bottom: 100px; 
}

.spacing-section {
    margin-top: 30px;
}

.thumbnail {
    text-align: center;
}

img.rounded-circle {
    border: 1px solid #0066ff;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 5%;
    max-width: 33%;
}

.picture-size {
    max-width: 200px;
    border-radius: 15px;
    margin-left: 23%;
    margin-right: 23%;
}

i.fa.fa-check-circle {
    margin-left: 15px;
    margin-right: 15px;
}

i.fa.fa-play {
    margin-left: 15px;
    margin-right: 15px;
}

/* -----------------------------Footer */

.panel-title {
    font-family: "Roboto", Sans-serif;
    margin: 0;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}

.panel-body {
    font-family: "Roboto", Sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

footer div span {
    margin-left: 10px;
}

 
footer div.row {
    background-color: #5297FF;
}

h5.panel-title {
    text-align: center;
}


/* --------------------------LOGIN PAGE */

.borderline {
    border: 1px solid #262626;
    border-radius: 15px;
    margin: 2%;
    padding: 25px;
}

input.form-control {
    background-color: #fff;
}

.form-control {
    max-width: 95%;
    margin: 2%;
}

.checkbox {
    margin-left: 3%;
}

.text-fix-2 {
    color: #262626;
    margin-left: 2%;
}

.btn.btn-primary.btn-lg {
    margin-left: 2%;
}


/* -------------------------------Contact us */

address a {
    color: #262626;
}

address {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

textarea.form-control {
    background-color: #fff;
}

/* -----------------------Dashboard */

td a {
    color: #262626;
}

div.col-12.col-xl-12 {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 0;
}

#piechart {
    width: 750px;
    height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

#donutchart {
    width: 400px;
    height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

#chart_div {
    width: 400px;
    height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}



/* ----------------- Rules page */

.img-thumbnail {
    padding: 30px;
    background-color: #5297FF;
    max-height: 500px;
}

.rules-margin {
    margin: 30px 20px 150px 20px;
}

h3.text-center {
    text-align: center;
}

h3.text-margin {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/* ------------------- Gallery picture */


div.carousel-item {
    max-width: 450px;
    max-height: 600px;
} 

div.carousel-item.active {
    margin-left: 0;
    margin-right: 0;
    
}

div.carousel-inner {
    background-color:  #5297FF;
    padding: 2% 30% 2% 30%;
    
}

.d-block.w-100 {
    border-radius: 5px;
}

/* --------------------booking */

div.col-sm-10.offset-sm-1 {
    border: 3px solid #5297FF;
    margin-bottom: 10%;
    border-radius: 5px;
}

label.text-fix-2 {
    margin-bottom: 0;
}

select#exampleFormControlSelect1.form-control {
    margin-top: 0;
}

button.btn.btn-primary.btn-lg.btn-block {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

p.text-fix-2 {
    margin-bottom: 0;
}



input {
    border-radius: 5px; 
}

h1.text-fix-one {
    text-align: center;
}

div.form-fix {
    margin-left: 3%;
}